.header {
  @apply text-xl lg:text-3xl font-medium tracking-tight text-[var(--foreground-rgb)];
}

.header.large {
  @apply text-3xl lg:text-5xl;
}

.header.light {
  @apply text-white;
}

.text {
  @apply font-normal text-[--foreground-rgb] text-sm lg:text-base;
}

.button {
  @apply px-4 py-1.5 bg-white/90 text-black/90  hover:bg-white hover:text-black rounded-full;
}

.button.light {
  @apply px-4 py-1.5 bg-transparent border-[1px] border-[var(--text-light)] text-[var(--text-light)] hover:bg-white/60 hover:text-black;
}

.button.dark {
  @apply px-4 py-1.5 bg-[--text-darker] border-[1px] text-[--bg-color] border-[var(--text-darker)] hover:bg-white/60 hover:text-black;
}

.card {
  @apply bg-[--card-bg] rounded-xl overflow-hidden;
  box-shadow: rgba(0, 0, 0, 1%) 0px 0px 1rem 0px;
}

.card:hover {
  box-shadow: 0 0 40rem rgba(3, 167, 157, 0.1), 0 0 40rem rgba(28, 117, 188, 0.05);
  z-index: 0;
}

.nav-bg {
  background: var(--nav-bg);
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.card-img-max-width {
  max-width: calc(100% - 2rem);
}

.image {
  @apply blur-[0px] object-cover brightness-50 w-full h-full ;
}

.gallery-photo:hover img:not(.no-hover) {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
  @apply brightness-75;
}