.header {
  @apply text-xl lg:text-3xl font-medium tracking-tight text-[var(--foreground-rgb)];
}

.header.large {
  @apply text-3xl lg:text-5xl;
}

.header.light {
  @apply text-white;
}

.text {
  @apply font-normal text-[--foreground-rgb] text-sm lg:text-base;
}

.text-bold {
  @apply font-semibold text-[--foreground-rgb] text-xl lg:text-base;
}

.xs-text {
  @apply font-normal text-[--foreground-rgb] text-sm;
}

.button {
  @apply px-4 py-1.5 bg-white/90 text-black/90  hover:bg-white hover:text-black rounded-full;
}

.button.light {
  @apply px-4 py-1.5 bg-transparent border-[1px] border-[var(--text-light)] text-[var(--text-light)] hover:border-green hover:text-[--text-light];
}

.button.dark {
  @apply px-4 py-1.5 bg-green border-[1px] text-white border-green hover:bg-green/80  hover:border-green;
}


.card {
  @apply bg-[--card-bg] rounded-xl overflow-hidden;
  box-shadow: rgba(0, 0, 0, 10%) 2px 4px 12px;
}

.shadow {
 box-shadow: rgba(0, 0, 0, 10%) 2px 4px 12px;
}

.card:hover {
  box-shadow: 0 0 40rem rgba(3, 167, 157, 0.1), 0 0 40rem rgba(28, 117, 188, 0.05);
  z-index: 0;
}

.nav-bg {
  background: var(--nav-bg);
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  -webkit-backdrop-filter: blur(9.1px);
}

.card-img-max-width {
  max-width: calc(100% - 2rem);
}

.image {
  @apply blur-[0px] object-cover brightness-50 w-full h-full ;
}

.gallery-photo:hover img:not(.no-hover) {
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
  @apply brightness-75;
}